{% extends 'base.html' %}    
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}touchscreen_retail/jsKeyboard.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}touchscreen_retail/fullscreen.css" />
{% endblock %}

{% block extrahead %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}touchscreen_retail/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}touchscreen_retail/jsKeyboard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}touchscreen_retail/javascript.js"></script>
    <script type="text/javascript">       
      function clearKmls() {
        showAndHideStatus();
	{% for item in assets %}
                  submitRequest('http://localhost:81/sync_touchscreen.php?touch_action=delete&touch_kml={{ item.storage.url }}');
	{% endfor %}
                showAndHideStatus();
      }

      // get url args
      var fields = function () {
        var out_fields = {};
        var query_fields = window.location.search.split('?')[1];
        if( query_fields ) {
          query_fields = query_fields.split('&');
          for( var i in query_fields ) {
            var raw = query_fields[i].split('=');
            if( raw.length > 1 )
              out_fields[raw[0]] = raw[1];
          }
        }
        return out_fields;
      }();

      if (fields['resume'])
        resumeEarth();
    </script>
{% endblock %}

{% block title %}{% trans "Liquid Galaxy Touchscreen" %}{% endblock %}
  {% block bodyonload %}noneExpand();{% endblock %}

{% block content %}
    <div class="touchscreen">
      <div id="status"></div>
{% for group in bookmark_groups %}
      <div class="{{ group.planet }}">
        <div class="title" onmousedown="toggleExpand('e_{{ group.slug }}');">{{ group.title }}</div>
        <img draggable="false" onmousedown="toggleExpand('e_{{ group.slug }}');" src="{{ group.icon_url }}" />
        <div class="expand_inactive" id="e_{{ group.slug }}">
	{% for bookmark in group.bookmark_set.all %}
                      <div class="location" onmousedown="changeQuery('{{ bookmark.as_query_txt|safe }}', '{{ bookmark.title }}');">{{ bookmark.title }}</div>
	{% endfor %}
                  </div>
      </div>
{% endfor %}
      <div class="search">
        <div class="title" onmousedown="toggleExpand('e_search');">Search</div>
        <img draggable="false" onmousedown="toggleExpand('e_search');" src="{{ STATIC_URL }}touchscreen_retail/keyboard.png" />
        <div class="expand_inactive" id="e_search">
          <input class="keyboardEntry" id="keyboardEntry" name="keyboardEntry" type="text" value="" />
          <div id="virtual-keyboard"></div>
        </div>
      </div>
      <div class="streetview">
        <div class="title" onmousedown="switchToPeruse();">Street View</div>
        <img draggable="false" onmousedown="switchToPeruse();" src="http://liquid-galaxy.googlecode.com/git/php-interface/pegman.png" />
        </div>
      </div>
      <div class="welcome" onmousedown="noneExpand();">
          {% trans "Welcome to the Liquid Galaxy by Google" %}
      </div>
      <div class="relaunch">
        <div class="activity" onmousedown="changeQuery('relaunch-earth', 'Relaunch Earth');"></div>
        <!--<div class="location" onmousedown="changeQuery('relaunch-peruse', 'Relaunch Street View');">Street View</div> -->
      </div>
    </div>
{% endblock %}
