{% extends 'base.html' %}    
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}touchscreen_legacy/sidebar.css" />
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}touchscreen_legacy/javascript.js"></script>
    <script type="text/javascript">       
      function clearKmls() {
        showAndHideStatus();
	{% for item in assets %}
                  submitRequest('http://lg2-1:81/sync_touchscreen.php?touch_action=delete&touch_kml={{ item.storage.url }}');
	{% endfor %}
                showAndHideStatus();
      }
    </script>
{% endblock %}

{% block title %}{% trans "Liquid Galaxy Touchscreen" %}{% endblock %}
  {% block bodyonload %}noneExpand('e_earth', 'e_layers', 'e_moon', 'e_mars', 'e_keyboard');{% endblock %}

{% block content %}
    <div class="touchscreen">
      <div id="status"></div>
{% for group in bookmark_groups %}
      <div class="{{ group.planet }}">
        <div class="title" onclick="changePlanet('{{ group.planet }}');  toggleExpand('e_{{ group.planet }}', 'e_earth', 'e_layers', 'e_moon', 'e_mars', 'e_keyboard');">{{ group.title }}</div>
        <img draggable="false" onclick="changePlanet('{{ group.planet }}');  toggleExpand('e_{{ group.planet }}', 'e_earth', 'e_layers', 'e_moon', 'e_mars', 'e_keyboard');" src="{{ group.icon_url }}" />
        <div class="expand_inactive" id="e_{{ group.slug }}">
	{% for bookmark in group.bookmark_set.all %}
                      <div class="location" onclick="changeQuery('{{ bookmark.as_query_txt|safe }}', '{{ bookmark.title }}');">{{ bookmark.title }}</div>
	{% endfor %}
                  </div>
      </div>
{% endfor %}
      <div class="layers">
        <div id="layers_icon" class="title" onclick="changePlanet('earth');  toggleExpand('e_layers', 'e_earth', 'e_mars','e_moon', 'e_keyboard', 'e_layers');">Layers</div>
        <img draggable="false" onclick="changePlanet('earth'); toggleExpand('e_layers', 'e_earth', 'e_moon', 'e_mars', 'e_keyboard', 'e_layers');" src="{{ STATIC_URL }}touchscreen_legacy/layers.png" />
        <div class="expand_inactive" id="e_layers">
		{% for item in assets %}
                      <div id="{{ item.slug }}" class="kml_off" onclick="toggleKml(this, '{{ item.storage.url }}');">{{ item.title }}</div>
		{% empty %}
                      <div id="kml_empty">{% trans "Sorry, no KML files to load." %}</div>
		{% endfor %}
                  </div>
      </div>
      <div class="keyboard">
        <div class="title" onclick="toggleExpand('e_keyboard', 'e_earth', 'e_mars','e_moon', 'e_layers', 'e_layers');">&nbsp;</div>
        <img draggable="false" onclick="toggleExpand('e_keyboard', 'e_earth', 'e_mars','e_moon', 'e_layers', 'e_layers');" src="{{ STATIC_URL }}touchscreen_legacy/keyboard.png" />
        <div class="expand_inactive" id="e_keyboard">
          <div class="keyboardRow1">
            <input class="keyboardEntry" id="keyboardEntry" name="keyboardEntry" type="text" value="" onkeypress="enterKeySubmit(event);" />
            <div class="keyboardKey keyboardKeyClear" onclick='clearKey();'>Clear</div>
            <div class="keyboardKey keyboardKeySearch" onclick='searchKey();'>Search</div>
          </div>
          <div class="keyboardRow2">
                          <div class="keyboardKey" onclick="keyEntry('1');">1</div>
                          <div class="keyboardKey" onclick="keyEntry('2');">2</div>
                          <div class="keyboardKey" onclick="keyEntry('3');">3</div>
                          <div class="keyboardKey" onclick="keyEntry('4');">4</div>
                          <div class="keyboardKey" onclick="keyEntry('5');">5</div>
                          <div class="keyboardKey" onclick="keyEntry('6');">6</div>
                          <div class="keyboardKey" onclick="keyEntry('7');">7</div>
                          <div class="keyboardKey" onclick="keyEntry('8');">8</div>
                          <div class="keyboardKey" onclick="keyEntry('9');">9</div>
                          <div class="keyboardKey" onclick="keyEntry('0');">0</div>
                        <div class="keyboardKey keyboardKeyBackspace" onclick='backspaceKey();'>Bksp</div>
          </div>
          <div class="keyboardRow3">
                          <div class="keyboardKey" onclick="keyEntry('Q');">Q</div>
                          <div class="keyboardKey" onclick="keyEntry('W');">W</div>
                          <div class="keyboardKey" onclick="keyEntry('E');">E</div>
                          <div class="keyboardKey" onclick="keyEntry('R');">R</div>
                          <div class="keyboardKey" onclick="keyEntry('T');">T</div>
                          <div class="keyboardKey" onclick="keyEntry('Y');">Y</div>
                          <div class="keyboardKey" onclick="keyEntry('U');">U</div>
                          <div class="keyboardKey" onclick="keyEntry('I');">I</div>
                          <div class="keyboardKey" onclick="keyEntry('O');">O</div>
                          <div class="keyboardKey" onclick="keyEntry('P');">P</div>
                      </div>
          <div class="keyboardRow4">
                          <div class="keyboardKey" onclick="keyEntry('A');">A</div>
                          <div class="keyboardKey" onclick="keyEntry('S');">S</div>
                          <div class="keyboardKey" onclick="keyEntry('D');">D</div>
                          <div class="keyboardKey" onclick="keyEntry('F');">F</div>
                          <div class="keyboardKey" onclick="keyEntry('G');">G</div>
                          <div class="keyboardKey" onclick="keyEntry('H');">H</div>
                          <div class="keyboardKey" onclick="keyEntry('J');">J</div>
                          <div class="keyboardKey" onclick="keyEntry('K');">K</div>
                          <div class="keyboardKey" onclick="keyEntry('L');">L</div>
                      </div>
          <div class="keyboardRow5">
                          <div class="keyboardKey" onclick="keyEntry('Z');">Z</div>
                          <div class="keyboardKey" onclick="keyEntry('X');">X</div>
                          <div class="keyboardKey" onclick="keyEntry('C');">C</div>
                          <div class="keyboardKey" onclick="keyEntry('V');">V</div>
                          <div class="keyboardKey" onclick="keyEntry('B');">B</div>
                          <div class="keyboardKey" onclick="keyEntry('N');">N</div>
                          <div class="keyboardKey" onclick="keyEntry('M');">M</div>
                          <div class="keyboardKey" onclick="keyEntry(',');">,</div>
                          <div class="keyboardKey" onclick="keyEntry('.');">.</div>
                      </div>
          <div class="keyboardRow6">
            <div class="keyboardKey keyboardKeySpace" onclick='keyEntry(" ");'></div>
          </div>
        </div>
      </div>
      <div class="welcome" onclick="noneExpand('e_earth', 'e_layers', 'e_moon', 'e_mars', 'e_keyboard');">
          {% trans "Welcome to the Liquid Galaxy by Google" %}
      </div>
      <!--<div class="ctlpanel">
        <div class="appctl">
          <img draggable="false" onclick="changeQuery('mpctl', 'MPlayer');" src="{{ STATIC_URL }}touchscreen_legacy/mplayer.png" />
          <div class="ctlbutton" onclick="changeQuery('mpctl-prev', 'MP PREV');">PREV</div>
          <div class="ctlbutton" onclick="changeQuery('mpctl-rev', 'MP REV');">REV</div>
          <div class="ctlbutton" onclick="changeQuery('mpctl-fwd', 'MP FWD');">FWD</div>
          <div class="ctlbutton" onclick="changeQuery('mpctl-next', 'MP NEXT');">NEXT</div>
          <div class="ctlbutton" onclick="changeQuery('mpctl-pause', 'MP PAUSE');">PAUSE</div>
          <div class="ctlbutton" onclick="changeQuery('mpctl-stop', 'MP STOP');">STOP</div>
        </div>
      </div>-->
      <div class="relaunch">
        <!--<div class="location" onclick="changeQuery('relaunch-aquarium', 'Relaunch');">Relaunch [Aquarium]</div> -->
        <div class="location" onclick="changeQuery('relaunch-earth', 'Relaunch');">Relaunch [Earth]</div>
        <!--<div class="location" onclick="changeQuery('relaunch-mplayer', 'Relaunch');">Catlin Seaview Survey</div> -->
      </div>
    </div>
{% endblock %}
